@media (max-width: 1000px) {
  /* lessonクラスのCSSを指定してください */
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

}

@media (max-width: 670px) {
  /* .lessonのwidthを100%に指定してください */
  .lesson {
    width: 100%;
  }

  /* <footer>の中身を中央寄せにしてください。 */
  footer {
    text-align: center;
  }

}
