@media (max-width: 1000px) {
  /* lessonクラスのCSSを指定してください */
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

}

@media (max-width: 670px) {
  /* .lessonのwidthを100%に指定してください */
  .lesson {
    width: 100%;
  }

  /* <footer>の中身を中央寄せにしてください。 */
  footer {
    text-align: center;
  }

}

.btn {
   width: 100%;
 }

 /* .facebookにmargin-bottom: 10px;を追加してください */
 .soundcloud {
   margin-bottom: 10px;
 }

 /* .top-wrapperの中身を左寄せに、padding-topを130pxに指定してください */
 .top-wrapper{
   text-align: left;
   padding-top: 130px;
 }

}
